@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Developer by @ViewData["Name"].</p>


<strong>This project  in GitHub -></strong> <a href="https://github.com/GabrielGomesLuz/SalesWebMvc" target="_blank">github.com</a>


