@{
    ViewData["Title"] = "Contact";
    ViewData["SubTitle"] = "Make a visit in my projects";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["SubTitle"]</h3>




<strong>My github:</strong> <a href="https://github.com/GabrielGomesLuz/SalesWebMvc" target="_blank">github.com</a><br />
<h4>Or connect with me in Linkedin</h4>
<strong>Linkedin:</strong> <a href="https://www.linkedin.com/in/gabriel-g-8302381a8/" target="_blank">Gabriel Gomes</a>
